.footer{
    /* padding: 0 0 10px 0; */
background-image: url('../assets/img/footer-bg.png');
background-position: center center;
background-size: cover;
background-repeat: no-repeat;
}

.footer img{
    width: 60px;
    margin-top: 10px;
}
.footer .social-links img{
    margin-top: 10px;
    width: 5%;
}

.footer p{
    font-weight: 400;
    font-size: 17px;
    font-style: italic;
    color: #b8b8b8;
    margin-bottom: 10px;
    letter-spacing: 0.5px;
    margin-top: 20px;
}